body {
<div style="height: 100vh; background-color: skyblue; display: flex; justify-content: center; align-items: flex-end;">
  <div style="width: 100%; height: 200px; background-color: green; border-radius: 100px 100px 0 0;"></div>
</div>
}
